@charset "utf-8";

/* Twitch */

/*== 無限に波紋が広がる */

.btnripple2 {
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*波紋の形状*/
    display: inline-block;
    background: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple2:hover {
    background: #6441a5;
}

.btnripple2 i:hover {
    color: #f5f5f5;
}

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid #6441a5;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay: .5s;
}

/*波形のアニメーション*/
@keyframes circleanime {
    0% {
        transform: scale(0.68);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* Youtube */
/*== 無限に波紋が広がる */

.btnripple3 {
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*波紋の形状*/
    display: inline-block;
    background: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #f5f5f5;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple3:hover {
    background: #c4032b;
}

/*波形を2つ設定*/
.btnripple3::after,
.btnripple3::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid #c4032b;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple3::before {
    animation-delay: .5s;
}

/*波形のアニメーション*/
@keyframes circleanime {
    0% {
        transform: scale(0.68);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}