video {
    width: 100%;
    height: auto;
}

/* * {
    outline: 1px solid magenta;
} */

body {
    background-color: #f5f5f5;

}

main {
    margin: auto 8%;
}

.main-content {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu {
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 1em;
}

.menu img {
    width: 9%;
    height: auto;
    position: absolute;
    left: 1%;
}


.big-subtitle {
    font-family: 'Mukta Mahee', sans-serif;
    color: #f5f5f5;
    -webkit-text-stroke: 0.5px #4A4642;
    font-size: 7em;
    position: relative;
    /* overflow: hidden; */
}

.small-subtitle {
    font-family: 'Mukta Mahee', sans-serif;
    color: #4a4642;
    font-size: 40%;
    position: absolute;
    top: 41%;
    letter-spacing: 5px;
}

.ja-subtitle {
    font-family: ab-tombo-bold, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4a4642;
    font-size: 15%;
    position: absolute;
    top: 75%;
    left: 1%;
}

/* チーム情報 */
.team-name td {
    color: #F5B343;
    font-family: ab-tombo-bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* アイコン */
.user-icon img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.user-icon td img {
    display: block;
    text-align: center;
    margin: auto;
}

.user-name {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.user-name td {
    text-align: center;
    vertical-align: middle;
}

/* sns */
.sns td {
    text-align: justify;
}

.snsicon {
    text-align: center;
}

.snsicon a {
    display: inline-block;
    margin: 0 5px;
}

/* ルール */
.kajyougaki {
    background-color: #F5B343;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 1px #4A4642;
}

/* 個人設定 */
.fa-twitter {
    color: #00acee;
}

.fa-twitch {
    color: #6441a5;
}

.fa-youtube {
    color: #c4032b;
}

/* チームメッセージ */
.team-message td {
    vertical-align: middle;
}

.box {
    border: 1px solid #4a4642;
    border-radius: 2px;
    position: relative;
    margin-top: 1em;
}

/* メッセージ */
.box h3 {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: -1.9em;
    font-family: 'Mukta Mahee', sans-serif;
}

.box span {
    padding: 0 .5em;
    background: #F5f5f5;
    color: #4A4642;
}

.box .inner {
    padding: 1.2em .3em .3em;
    text-align: center;
}