video{
    width: 100%;
    height: auto;
}

body{
    background-color: #f5f5f5;
}

.menu{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 1em;
}

.menu img{
    width: 9%;
    height: auto;
    position: absolute;
    left: 1%;
}