video {
    width: 100%;
    height: auto;
}

/* * {
    outline: 1px solid magenta;
} */

body {
    background-color: #f5f5f5;

}

main {
    margin: auto 8%;
}

.main-content {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5%;
}

.menu {
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 1em;
    margin: auto 3%;
}

.menu_button {
    font-family: 'Mukta Mahee', sans-serif;
    color: #4A4642;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 3vh;
}

.menu_button img {
    display: inline-block;
    width: 8%;
    height: auto;
    position: absolute;
}

.menu_button div {
    position: absolute;
    top: -0.5vh;
    display: block;
    margin-left: 2.3vw;
}

.menu_content {
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3vh;
    /* margin-topはmenu_buttonのtopと高さ合わせる */
}

.menu_content a {
    font-family: 'Mukta Mahee', sans-serif;
    color: #4A4642;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin: 0 50px;
    text-decoration: none;
}


.big-subtitle {
    font-family: 'Mukta Mahee', sans-serif;
    color: #f5f5f5;
    -webkit-text-stroke: 0.5px #4A4642;
    font-size: 7em;
    position: relative;
    /* overflow: hidden; */
}

.small-subtitle {
    font-family: 'Mukta Mahee', sans-serif;
    color: #4a4642;
    font-size: 40%;
    position: absolute;
    top: 41%;
    letter-spacing: 5px;
}

.ja-subtitle {
    font-family: ab-tombo-bold, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4a4642;
    font-size: 15%;
    position: absolute;
    top: 75%;
    left: 1%;
}

/* チーム全体 */
.team {
    margin-bottom: 5%;
}

/* チーム情報 */
.team-name td:first-child {
    color: #F5B343;
    font-family: rocknroll-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    padding-bottom: 20px;
}

/* チームキャラBAN */
.team-name td:last-child {
    color: #4A4642;
    font-size: 0.5em;
    text-align: right;
}

/* アイコン */
.user-icon {
    text-align: center;
}

.user-icon img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 30px;
}

.user-name {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.user-name td {
    text-align: center;
    vertical-align: middle;
}

/* sns */
.sns td {
    text-align: justify;
}

.snsicon {
    text-align: center;
}

.snsicon a {
    display: inline-block;
    margin: 0 5px;
}

/* ルール */
.kajyougaki td:first-child {
    color: #F5B343;
}

.kajyougaki td:last-child {
    font-weight: bold;
    color: #4a4642;
}

/* 個人設定 */
.fa-twitter {
    color: #00acee;
}

.fa-twitch {
    color: #6441a5;
}

.fa-youtube {
    color: #c4032b;
}

/* チームメッセージ */
.team-message td {
    vertical-align: middle;
}

.box {
    border: 1px solid #4a4642;
    border-radius: 2px;
    position: relative;
    margin-top: 1em;
}

/* メッセージ */
.box h3 {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: -1.8em;
    font-family: 'Mukta Mahee', sans-serif;
}

.box span {
    padding: 0 .5em;
    background: #F5f5f5;
    color: #4A4642;
}

.box .inner {
    padding: 1.2em .3em .8em;
    text-align: center;
}